<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="row">
    <div class="info">
      <%= label f, :label %>
      <%= error_tag f, :label %>
    </div>
    <%= text_input f, :label %>
  </div>

  <div class="row">
    <%= submit "Save" %>
  </div>
<% end %>
