<h1><%= @category.label %></h1>
<blockquote>Posts: <%= length(@category.posts) %></blockquote>
<%= for post <- @category.posts do %>
  <p class="post", data-date="<%= display_date(post.inserted_at) %>">
    <%= link post.title, to: Routes.post_path(@conn, :show, post) %>
  </p>
<% end %>
