<h1>Edit Post</h1>
<%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :update, @post)) %>
<%= link "Delete", to: Routes.post_path(@conn, :delete, @post), method: :delete, data: [confirm: "Are you sure?"] %>
