<h1>If I approach infinity then...</h1>
<%= for post <- @posts do %>
    <p class="post" data-date="<%= display_date(post.inserted_at) %>">
      <%= link post.title, to: Routes.post_path(@conn, :show, post)%>
    </p>
<% end %>
