use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :blog, BlogWeb.Endpoint,
  secret_key_base: "phx.gen.secret > secret"

# Configure your database
config :blog, Blog.Repo,
  username: "postgres",
  password: "postgres",
  database: "blog_dev",
  pool_size: 15

config :blog, :basic_auth,
  username: "admin",
  password: "admin",
  realm: "Admin Area"

